@media (min-width: 600px) and (max-width: 991px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 599px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-container {
    padding: 1rem 0;
  }
  .main-title h1 {
    display: none;
  }

  .staking-page {
    flex-direction: column;
  }
}